//====================================================================================================

.home-page {
  // .home-page__container
  &__container {
  }
  // .home-page__main-slider
  &__main-slider {
  }
  // .home-page__gender-catalog
  &__gender-catalog {
  }
  // .home-page__slider-brends
  &__slider-brends {
  }
  // .home-page__slider-best-offers
  &__slider-best-offers {
  }
  // .home-page__best-offer
  &__best-offer {
  }
  // .home-page__slider-sale
  &__slider-sale {
  }
}

//====================================================================================================

.main-slider {
  margin: 0 rem(-20);
  // .main-slider__slider
  &__slider {
  }
  // .main-slider__wrapper
  &__wrapper {
  }
  & .swiper-pagination-bullet {
    border-radius: 0;
    width: rem(120);
    height: rem(4);
    opacity: 1;
    background-color: #fff;
    transition: all 0.3s ease 0s;
    @media (max-width: $mobile) {
      width: rem(80);
    }
  }
  & .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 rem(12);
    @media (max-width: $mobile) {
      margin: 0 rem(8); 
    }
  }
  & .swiper-horizontal > .swiper-pagination-bullets {
    bottom: rem(18);
  }
  & .swiper-pagination-bullet-active {
    background-color: $mainColor;
  }
}

.slide-main-slider {
  overflow: hidden;
  padding-right: rem(20);
  display: grid;
  align-items: center;
  grid-template-columns: 50% 50%;
  min-height: rem(400);
  background-color: $colorBackgroundPink;
  @media (max-width: $mobile) {
    grid-template-columns: 60% 40%;  
  }
  @media (max-width: $mobileSmall) {
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
  }
  // .slide-main-slider__image
  &__image {
    position: relative;
    width: 100%;
    height: 100%;
    @media (max-width: $mobileSmall) {
      flex: 0 0 rem(150);
    }
    img {
      width: 138%;
      position: absolute;
      top: rem(-80);
      right: 0;
      z-index: 0;
      @include adaptiveValue("right", 0, -88, 0, 1440, 768);
      @include adaptiveValue("top", -80, 100, 1, 1440, 480);
      @media (max-width: $mobile) {
        width: 180%; 
      }
      @media (max-width: $mobileSmall) {
        width: 80%;
        top: 0;
        right: 0;
      }
      @include adaptiveValue("top", -20, 0, 1, 479, 360);
    }
  }
  // .slide-main-slider__content
  &__content {
    position: relative;
    z-index: 1;
    padding: 0 rem(155) 0 rem(135);
    @include adaptiveValue("padding-right", 155, 0, 0, 1440, 768);
    @include adaptiveValue("padding-left", 135, 20, 0, 1440, 1024);
  }
  // .slide-main-slider__title
  &__title {
    font-size: rem(52);
    font-weight: 500;
    margin-bottom: rem(7);
    line-height: math.div(57, 52);
    @media (max-width: $tablet) {
      font-size: rem(48);
    }
    @media (max-width: $mobile) {
      font-size: rem(40);
    }
  }
  // .slide-main-slider__subtitle
  &__subtitle {
    font-size: rem(32);
    font-weight: 500;
    margin-bottom: rem(23);
    line-height: math.div(36, 32);
    @media (max-width: $mobile) {
      font-size: rem(27);
    }
  }
  // .slide-main-slider__button
  &__button {
    position: relative;
    z-index: 1;
  }
}

//====================================================================================================

.gender-catalog {
  display: flex;
  padding: rem(40) 0;
  gap: rem(30);
  @media (max-width: $mobile) {
    flex-wrap: wrap;
    justify-content: center;
    gap: rem(16);
  }
  // .gender-catalog__item
  &__item {
  }
}
.item-gender-catalog {
  flex: 1 0 auto;
  background-color: $colorBackgroundGrey;
  border-radius: rem(16);
  position: relative;
  height: rem(360);
  overflow: hidden;
  @media (max-width: $mobile) {
    flex: 1 1 rem(230);
    height: rem(240);
  }
  // .item-gender-catalog_for-men
  &_for-men {
  }
  // .item-gender-catalog_for-women
  &_for-women {
  }
  // .item-gender-catalog_for-children
  &_for-children {
    @media (max-width: $mobile) {
      flex: 0 1 auto;
      width: 100%;
    }
    @include adaptiveValue("width", 376, 250, 1, 767, 532);
    
  }
  // .item-gender-catalog__body
  &__body {
    position: relative;
    z-index: 1;
    padding: rem(32);
  }
  // .item-gender-catalog__title
  &__title {
    font-size: rem(24);
    font-weight: 500;
    line-height: 120%;
    width: rem(110);
    margin-bottom: rem(16);
  }
  // .item-gender-catalog__button
  &__button {
  }
  // .item-gender-catalog__image
  &__image {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 0;
    height: 100%;
    @include adaptiveValue("right", 0, -50, 1, 1440, 1024);
    @include adaptiveValue("right", -50, -134, 1, 1024, 768);
    @include adaptiveValue("right", 0, -84, 1, 767, 516);
    img {
      @media (max-width: $mobile) {
        height: 100%;
      }
    }
  }
}

//====================================================================================================

.slider-brends {
  padding: rem(16) 0;
  // .slider-brends__header
  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: rem(17);
  }
  // .slider-brends__title
  &__title {
    font-weight: 500;
    font-size: rem(24);
    line-height: 120%;
  }
  // .slider-brends__more
  &__more {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: rem(6);
    font-weight: 500;
    font-size: rem(16);
    line-height: math.div(38, 16);
    color: $colorBlueLink;
    span {
      @media (any-hover: hover){
        &:hover{
          text-decoration: underline;
        }
      }
    }
    &::before {
      font-weight: 600;
      transform: rotate(180deg);
      font-size: rem(12);
    }
  }
  // .slider-brends__slider
  &__slider {
  }
  // .slider-brends__wrapper
  &__wrapper {
  }
  // .slider-brends__slide
  &__slide {
    // width: 170px;
  }
  // .slider-brends__brend-logo
  &__brend-logo {
    border: 1px solid $colorBorderCardGrey;
    height: rem(80);
    width: 100%;
    text-align: center;
    border-radius: rem(4);
  }
}

//====================================================================================================

.slider-best-offers {
  padding: rem(40) 0;
  // .slider-best-offers__header
  &__header {
    margin-bottom: rem(22);
  }
  // .slider-best-offers__title
  &__title {
    font-weight: 500;
    font-size: rem(24);
    line-height: 120%;
  }
  // .slider-best-offers__slider
  &__slider.swiper {
    padding: rem(18) rem(7);
    margin: rem(-18) rem(-7);
  }
  // .slider-best-offers__wrapper
  &__wrapper {
  }
  // .slider-best-offers__slide
  &__slide.swiper-slide {
    height: auto;
  }
}

//====================================================================================================

.best-offer {
  padding: rem(24) 0;
  // .best-offer__wrapper
  &__wrapper {
    background-color: $colorBackgroundBlue;
    border-radius: rem(16);
    display: grid;
    grid-template-columns: rem(264) 1fr;
    gap: rem(32);
    padding: rem(24);
    align-items: center;
    @media (max-width: $tablet) {
      grid-template-columns: rem(168) 1fr;
    }
    @media (max-width: $mobile) {
      grid-template-columns: 1fr;  
      grid-row: auto auto;
    }
    @media (max-width: $mobile) {
      gap: rem(24);
      padding: rem(16);
    }

  }
  // .best-offer__header-aside
  &__header-aside {
    display: flex;
    flex-direction: column;
    gap: rem(16);
    justify-content: center;
    @media (min-width: $mobileSmall) and (max-width: $mobile) {
      align-items: center;  
      text-align: center;
    }
  }
  // .best-offer__title
  &__title {
    font-weight: 500;
    font-size: rem(24);
    line-height: 120%;
  }
  // .best-offer__description
  &__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
  }
  // .best-offer__timer
  &__timer {
  }
  // .best-offer__body
  &__body {
    background-color: #fff;
    // height: rem(288);
  }
  // .best-offer__product-card
  &__product-card {
    border: none;
    box-shadow: none;
    min-height: auto;
    @media (min-width: $tablet) {
      padding: rem(24); 
    }
    @media (min-width: $mobileSmall) {
      grid-template-columns: rem(240) 1fr;
      grid-template-areas: 'header body' 'image body';
      column-gap: rem(8);
    }
    @media (min-width: $mobileSmall) and (max-width: $tablet) {
      grid-template-columns: rem(160) 1fr;
    }
    @media (min-width: $mobileSmall) and (max-width: $mobile) {
      padding: rem(10);
      column-gap: rem(4);
    }
    @media (max-width: $mobileSmall) {
      grid-template-rows: auto rem(180) 1fr; 
    }
    @media (any-hover: hover) {
      &:hover{
        box-shadow: none;
      }
    }
  }
}

.timer {
  background-color: #2EA8E6;
  border-radius: rem(12);
  color: #fff;
  width: rem(168);
  height: rem(80);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: rem(9);
  @media (max-width: $mobileSmall) {
    width: 100%;
    gap: rem(1);
  }
  // .timer__title
  &__title {
    font-weight: 500;
    font-size: 16px;
    line-height: math.div(24, 16);
  }
  // .timer__body
  &__body {
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
  }
  // .timer__hours
  &__hours {
  }
  // .timer__minutes
  &__minutes {
  }
  // .timer__seconds
  &__seconds {
  }
}

.best-offer__product-card .product-card {
  // .product-card__header
  &__header {
    @media (min-width: $mobileSmall) {
      grid-area: header; 
    }
  }
  // .product-card__compare
  &__compare {
  }
  // .product-card__favorite
  &__favorite {
    right: rem(10);
  }
  // .product-card__image
  &__image {
    @media (min-width: $mobileSmall) {
      grid-area: image;  
    }
  }
  // .product-card__body
  &__body {
    @media (min-width: $mobileSmall) {
      grid-area: body;
      align-items: flex-start;
      text-align: start;  
    }
  }
  // .product-card__title
  &__title {
    flex: 0 0 auto;
    @media (min-width: $mobileSmall) {
      margin-top: 0; 
      margin-bottom: rem(9);
    }
  }
  // .product-card__link-title
  &__link-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    @media (max-width: $mobile) {
      font-size: rem(22); 
    }
  }
  // .product-card__availability
  &__availability {
    font-size: 16px;
    margin-bottom: rem(16);
    &::before {
      font-size: rem(14);
    }
  }
  // .product-card__discount
  &__discount {
    margin-bottom: rem(3);
  }
  // .product-card__old-price
  &__old-price {
  }
  // .product-card__price
  &__price {
    margin-bottom: rem(18);
  }
  // .product-card__button
  &__button {
    width: rem(210);
    @media (max-width: $mobileSmall) {
      width: 100%; 
    }
  }
}

//====================================================================================================

.slider-sale {
  display: flex;
  gap: rem(8);
  padding: rem(40) 0;
  // .slider-sale__title-block
  &__title-block {
    padding: rem(24);
    background-color: $colorBackgroundPink;
    background-image: url("@img/main-page/slider-sale/image-title-block.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    border-radius: rem(16);
    @media (min-width: em(488)){
      flex: 0 0 50%;
    }
    @media (min-width: em(610)){
      flex-basis: 40%;
    }
    @media (min-width: em(742)){
      flex-basis: 34%;
    }
    @media (min-width: em(882)){
      flex-basis: 28%;
    }
    @media (min-width: em(1028)){
      flex-basis: 25%;
    }
    @media (min-width: em(1165)){
      flex-basis: 22%;
    }
    @media (min-width: em(1290)){
      flex-basis: 20%;
    }
    @media (max-width: em(487)){
      height: 100%;
    }
  }
  // .slider-sale__title
  &__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    color: $colorRed;
    margin-bottom: rem(24);
  }
  // .slider-sale__subtitle
  &__subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    margin-bottom: rem(24);
  }
  // .slider-sale__more
  &__more {
  }
  // .slider-sale__slider
  &__slider.swiper {
    padding: rem(18) rem(7) rem(18) rem(8);
    margin: rem(-18) rem(-7) rem(-18) rem(-8);
  }
  // .slider-sale__wrapper
  &__wrapper {
  }
  // .slider-sale__slide
  &__slide {
  }
}

.title-block-488 {
  @media (min-width: em(488)){
    display: none;
  }
}







